---
import BaseLayout from '../../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Index Tags Page";

---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex py-6  gap-2 justify-items-start">
    {tags.map((tag) => (
      <p class=""><a type="button" class="button text-slate-500 rounded-md p-4 py-4 border-2 bg-gradient-to-r from-slate-50 to-slate-100 border-slate-200 hover:border-teal-200" href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>
