---
---
<div class="hidden nav-links lg:flex lg:gap-x-4">
    <a type="button" href="/" class="button text-slate-700 font-semibold leading-6 border-2 border-slate-50 hover:border-2 p-2 rounded hover:border-teal-200 text-sm font-semibold leading-6 text-gray-900">Home</a>
    <a type="button" href="/about" class="button text-slate-700 font-semibold leading-6 border-2 border-slate-50 hover:border-2 p-2 rounded hover:border-teal-200 text-sm font-semibold leading-6 text-gray-900">About</a>
    <a type="button" href="/blog" class="button text-slate-700 font-semibold leading-6 border-2 border-slate-50 hover:border-2 p-2 rounded hover:border-teal-200 text-sm font-semibold leading-6 text-gray-900">Blog</a>
    <a type="button" href="/tags/" class="button text-slate-700 font-semibold leading-6 border-2 border-slate-50 hover:border-2 p-2 rounded hover:border-teal-200 text-sm font-semibold leading-6 text-gray-900">Tags</a>
  </div>