---
import Header from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="mx-auto">
    <div class="min-w-full mx-auto border-2 rounded justify-center p-0">
     
    <Header />
    <div class="p-8">
    <h1 class="text-3xl font-bold">{pageTitle}</h1>
    
    <slot />
    
  </div></div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>

  </body>
</html>